@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bayon&display=swap");
@media only screen and (min-width: 980px) {
  section h2 {
    /*Personalizando etiqueta*/
    font-family: "Bayon", sans-serif;
    color: #242612;
    font-size: 60px;
    position: relative;
    left: 130px;
    top: 30px;
    display: inline;
  }
  section .index-container {
    position: relative;
    top: 50px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
  }
  section .index-container #new-launch-video {
    border: 9px solid #bf3e0f;
    margin-bottom: 100px;
  }
  section .index-container .vertical-line-1 {
    border: 1px solid black;
    position: relative;
    bottom: 30px;
  }
  section .index-container #new-launch-foto {
    position: relative;
    top: 140px;
    transform: scale(1);
    transition: transform 1s;
  }
  section .index-container #new-launch-foto:hover {
    transform: scale(1.2);
    transition: all 1s;
  }
}
@media only screen and (max-width: 480px) {
  section h2 {
    position: relative;
    top: 150px;
    /*Personalizando etiqueta*/
    font-family: "Bayon", sans-serif;
    color: #242612;
    font-size: 50px;
    display: inline;
    position: relative;
    left: 10px;
    margin-bottom: 20px;
  }
  section .index-container {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }
  section .index-container #new-launch-video {
    border: 9px solid #bf3e0f;
    margin-bottom: 100px;
    width: 390px;
    height: 350px;
    margin-top: 100px;
  }
  section .index-container .vertical-line-1 {
    border: 1px solid black;
    position: relative;
    bottom: 30px;
    padding-right: 400px;
  }
  section .index-container #new-launch-foto {
    width: 415;
    height: 230px;
  }
}
.title-container {
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  padding: 200px 0 120px 0;
  color: #fff;
  font-size: 62px;
  margin-bottom: 20px;
}

.camping-products {
  margin-right: 0;
}

#REDWHITETENT {
  padding-top: 18.2%;
}

#flashlight {
  margin: 10px;
  padding-bottom: 23px;
  padding-right: 30px;
  width: 200px;
}

#sleepingbag {
  margin: 10px;
  width: 190px;
}

.fishing-title {
  margin-bottom: 100px;
  font-family: "Bayon", sans-serif;
  color: #242612;
  font-size: 60px;
  position: relative;
  left: 130px;
  top: 30px;
  display: inline;
}

.fishing-section {
  display: flex;
  justify-content: space-around;
}
.fishing-section #fishing-video {
  border: 9px solid #bf3e0f;
  margin-bottom: 100px;
  margin-top: 50px;
}
.fishing-section .vertical-line-2 {
  border: 1px solid black;
  position: relative;
  right: 100px;
}
.fishing-section .fish-container {
  display: grid;
  grid-template-columns: repeat(2, 1r);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 70px;
  row-gap: 70px;
  grid-template-areas: "caña-1 caña-2" "caña-3 caña-4";
  position: relative;
  right: 100px;
}
.fishing-section .fish-container .caña-1 {
  grid-area: caña-1;
  transform: scale(1);
  transition: transform 1s;
}
.fishing-section .fish-container .caña-2 {
  grid-area: caña-2;
  transform: scale(1);
  transition: transform 1s;
}
.fishing-section .fish-container .caña-3 {
  grid-area: caña-3;
  transform: scale(1);
  transition: transform 1s;
}
.fishing-section .fish-container .caña-4 {
  grid-area: caña-4;
  transform: scale(1);
  transition: transform 1s;
}
.fishing-section .fish-container .caña-1:hover, .fishing-section .fish-container .caña-2:hover, .fishing-section .fish-container .caña-3:hover, .fishing-section .fish-container .caña-4:hover {
  transform: scale(1.2);
  transition: transform 1s;
}
.fishing-section .fish-container #caña-1 {
  width: 200px;
}
.fishing-section .fish-container #caña-2 {
  width: 200px;
}
.fishing-section .fish-container #caña-3 {
  width: 200px;
}
.fishing-section .fish-container #caña-4 {
  width: 200px;
  height: 200px;
}
.fishing-section .fish-container h3 {
  color: var(--color-principal);
  font-family: var(--font-family);
  font-size: 20px;
}

@media only screen and (min-width: 980px) {
  .cycle-title {
    font-family: "Bayon", sans-serif;
    color: #242612;
    font-size: 60px;
    position: relative;
    left: 130px;
    display: inline;
  }
  .cycle-fotos {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
  }
  .accesorios {
    transform: scale(1);
  }
  .accesorios:hover {
    transform: scale(1.2);
    transition: all 1s;
  }
}
@media only screen and (max-width: 480px) {
  .cycle-title {
    font-family: "Bayon", sans-serif;
    color: #242612;
    font-size: 50px;
    position: relative;
    top: 60px;
    left: 20px;
    display: inline;
  }
  .cycle-fotos {
    margin-top: 100px;
    position: relative;
    left: 20px;
  }
  .accesorios {
    margin-bottom: 100px;
  }
}
.contact-title {
  margin-top: 100px;
  text-align: center;
  font-size: 70px;
  font-family: "Bayon", sans-serif;
  color: #242612;
  text-decoration: underline dotted #bf3e0f;
  margin-bottom: 50px;
}

form fieldset {
  border: 0;
}
form fieldset legend {
  text-align: center;
  display: inline;
  font-family: "Bayon", sans-serif;
  font-size: 30px;
  color: #bf3e0f;
}
form fieldset .formulario {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 100px;
  margin-top: 100px;
}
form fieldset .formulario label {
  text-align: center;
  display: inline;
  font-family: "Bayon", sans-serif;
  font-size: 30px;
  color: #bf3e0f;
  text-decoration: underline solid #242612;
}
form textarea {
  width: 100%;
}
form .enviar {
  padding-top: 10px;
  background-color: green;
  color: #fff;
}
form input {
  width: 100%;
  border: 0;
  background-color: yellow;
}

.color-yo {
  color: #bf3e0f;
  font-family: "Bayon", sans-serif;
  font-size: 30px;
}

.mi-estilo {
  color: #bf3e0f;
  text-decoration: none;
  margin-right: 100px;
}

.mi-navbar {
  background-color: #242612;
}

.footer-container {
  margin-top: 20px;
  padding-top: 10px;
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-container a, .footer-container p {
  color: white;
  text-decoration: none;
}

body {
  margin: 0;
  /* Overflow-x: hidden */
}

/*# sourceMappingURL=style.css.map */
