@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bayon&display=swap");
.vertical-line-1, .vertical-line-2 {
  border: 1px solid black;
}

.main-title, .trending {
  /*Personalizando etiqueta*/
  font-family: "Bayon", sans-serif;
  color: #242612;
}

#new-launch-video, #fishing-video {
  border: 9px solid #bf3e0f;
  margin-bottom: 100px;
}

@media only screen and (min-width: 980px) {
  main .main-title {
    /*Personalizando etiqueta*/
    position: relative;
    left: 130px;
    top: 30px;
    font-size: 60px;
    display: inline;
  }
  main .index-container {
    position: relative;
    top: 50px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
  }
  main .index-container #new-launch-video {
    border: 9px solid #bf3e0f;
    margin-bottom: 100px;
  }
  main .index-container .vertical-line-1 {
    position: relative;
    bottom: 30px;
  }
  main .index-container #new-launch-foto {
    position: relative;
    top: 140px;
    transform: scale(1);
    transition: transform 1s;
  }
  main .index-container #new-launch-foto:hover {
    transform: scale(1.2);
    transition: all 1s;
  }
  .trending-container {
    background-color: #EEEEEE;
  }
  .trending-container .trending {
    font-size: 50px;
    text-align: center;
  }
  .trending-container .trending .trending-span {
    text-decoration: underline red;
    text-underline-offset: 0.2em;
  }
  .trending-container div {
    position: relative;
    right: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }
  .trending-container div a {
    padding: 5px 30px;
    border: 2px solid black;
    margin: 5px 5px;
    white-space: nowrap;
    font-weight: 500;
  }
  .trending-container div a:hover {
    text-decoration: underline black;
  }
  .boy-girl {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
  }
  .boy-girl .nena, .boy-girl .hombre, .boy-girl .mujer {
    width: 450px;
    margin-right: 100px;
    transition: box-shadow 0.3s ease;
  }
  .boy-girl .nena:hover, .boy-girl .hombre:hover, .boy-girl .mujer:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  .boy-girl .nena {
    height: 300px;
  }
  .mid-title {
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    padding: 200px 200px 120px 200px;
    color: #bf3e0f;
    font-size: 62px;
    margin-bottom: 20px;
  }
  .relojes-container {
    margin-top: 200px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
  }
  .relojes-container .relojes {
    margin-right: 50px;
    position: relative;
    width: 11.875em;
    height: 16.5em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 0.5em;
    padding-bottom: 3.4em;
  }
  .relojes-container .relojes:hover {
    border: 1px solid black;
  }
  .relojes-container .relojes .title-relojes {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    position: absolute;
    bottom: 1.875em;
    font-weight: 400;
    color: #000;
  }
  .relojes-container .relojes .price {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 15px;
    position: absolute;
    bottom: 1px;
    color: #000;
  }
  .relojes-container .image {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    margin-bottom: 70px;
  }
}
@media only screen and (max-width: 480px) {
  main .main-title {
    position: relative;
    top: 80px;
    font-size: 50px;
    left: 10px;
    margin-bottom: 10px;
    display: inline;
  }
  main .index-container {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }
  main .index-container #new-launch-video {
    border: 9px solid #bf3e0f;
    margin-bottom: 100px;
    width: 390px;
    height: 350px;
    margin-top: 100px;
  }
  main .index-container .vertical-line-1 {
    position: relative;
    bottom: 30px;
    padding-right: 400px;
  }
  main .index-container #new-launch-foto {
    width: 415;
    height: 230px;
  }
  .trending-container {
    margin-top: 50px;
    background-color: #EEEEEE;
    padding-bottom: 10px;
  }
  .trending-container .trending {
    font-size: 50px;
    text-align: center;
  }
  .trending-container .trending .trending-span {
    text-decoration: underline red;
    text-underline-offset: 0.2em;
  }
  .trending-container div {
    position: relative;
    right: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }
  .trending-container div a {
    padding: 5px 30px;
    border: 2px solid black;
    margin: 5px 5px;
    white-space: nowrap;
    font-weight: 500;
  }
  .trending-container div a:hover {
    text-decoration: underline black;
  }
  .boy-girl {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  .boy-girl .nena, .boy-girl .hombre, .boy-girl .mujer {
    width: 300px;
    margin-left: 50px;
    transition: box-shadow 0.3s ease;
    margin-bottom: 40px;
  }
  .boy-girl .nena:hover, .boy-girl .hombre:hover, .boy-girl .mujer:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  .boy-girl .nena {
    height: 200px;
  }
  .mid-title {
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    padding: 200px 0 200px 0;
    color: #bf3e0f;
    font-size: 62px;
    margin-bottom: 10px;
  }
  .relojes-container {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
  }
  .relojes-container .relojes {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    margin-top: 20px;
    margin-bottom: 18px;
    position: relative;
    left: 50px;
    width: 11.875em;
    height: 16.5em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 0.5em;
    padding-bottom: 3.4em;
  }
  .relojes-container .relojes:hover {
    border: 1px solid black;
  }
  .relojes-container .relojes .title-relojes {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    position: absolute;
    bottom: 1.875em;
    font-weight: 400;
    color: #000;
  }
  .relojes-container .relojes .price {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 15px;
    position: absolute;
    bottom: 1px;
    color: #000;
  }
  .relojes-container .image {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    margin-bottom: 70px;
  }
}
.title-container {
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  padding: 200px 0 120px 0;
  color: #fff;
  font-size: 62px;
  margin-bottom: 20px;
}

.camping-products {
  margin-right: 0;
}

#REDWHITETENT {
  padding-top: 18.2%;
}

#flashlight {
  margin: 10px;
  padding-bottom: 23px;
  padding-right: 30px;
  width: 200px;
}

#sleepingbag {
  margin: 10px;
  width: 190px;
}

#new-launch-video, #fishing-video {
  border: 9px solid #bf3e0f;
  margin-bottom: 100px;
}

.fishing-title {
  margin-bottom: 100px;
  font-family: "Bayon", sans-serif;
  color: #242612;
  font-size: 60px;
  position: relative;
  left: 130px;
  top: 30px;
  display: inline;
}

.fishing-section {
  display: flex;
  justify-content: space-around;
}
.fishing-section #fishing-video {
  margin-top: 50px;
}
.fishing-section .vertical-line-2 {
  position: relative;
  right: 100px;
}
.fishing-section .fish-container {
  display: grid;
  grid-template-columns: repeat(2, 1r);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 70px;
  row-gap: 70px;
  grid-template-areas: "caña-1 caña-2" "caña-3 caña-4";
  position: relative;
  right: 100px;
}
.fishing-section .fish-container .caña-1 {
  grid-area: caña-1;
  transform: scale(1);
  transition: transform 1s;
}
.fishing-section .fish-container .caña-2 {
  grid-area: caña-2;
  transform: scale(1);
  transition: transform 1s;
}
.fishing-section .fish-container .caña-3 {
  grid-area: caña-3;
  transform: scale(1);
  transition: transform 1s;
}
.fishing-section .fish-container .caña-4 {
  grid-area: caña-4;
  transform: scale(1);
  transition: transform 1s;
}
.fishing-section .fish-container .caña-1:hover, .fishing-section .fish-container .caña-2:hover, .fishing-section .fish-container .caña-3:hover, .fishing-section .fish-container .caña-4:hover {
  transform: scale(1.2);
  transition: transform 1s;
}
.fishing-section .fish-container #caña-1 {
  width: 200px;
}
.fishing-section .fish-container #caña-2 {
  width: 200px;
}
.fishing-section .fish-container #caña-3 {
  width: 200px;
}
.fishing-section .fish-container #caña-4 {
  width: 200px;
  height: 200px;
}
.fishing-section .fish-container h3 {
  color: var(--color-principal);
  font-family: var(--font-family);
  font-size: 20px;
}

@media only screen and (max-width: 480px) {
  .fishing-title {
    margin-bottom: 0px;
    font-family: "Bayon", sans-serif;
    color: #242612;
    font-size: 50px;
    position: relative;
    top: 50px;
    left: 30px;
    display: inline;
  }
  #fishing-video {
    width: 390px;
    height: 350px;
    margin-top: 10px;
  }
  .fishing-section {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .fish-container {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: repeat(4, 1fr);
    column-gap: 30px;
    grid-template-areas: "caña-1" "caña-2" "caña-3" "caña-4";
    position: relative;
    right: 100px;
  }
  .vertical-line-2 {
    position: relative;
    bottom: 30px;
    padding-right: 20px;
    padding-left: 600px;
  }
  .caña-1 {
    grid-area: caña-1;
    margin-left: 100px;
  }
  .caña-2 {
    grid-area: caña-2;
    margin-left: 100px;
  }
  .caña-3 {
    grid-area: caña-3;
    margin-left: 100px;
  }
  .caña-4 {
    grid-area: caña-4;
    margin-left: 100px;
  }
  h3 {
    color: #242612;
    font-family: "Bayon", sans-serif;
    font-size: 10px;
    margin-left: 100px;
  }
}
@media only screen and (min-width: 980px) {
  .cycle-title {
    font-family: "Bayon", sans-serif;
    color: #242612;
    font-size: 60px;
    position: relative;
    left: 130px;
    display: inline;
  }
  .cycle-fotos {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
  }
  .accesorios {
    transform: scale(1);
  }
  .accesorios:hover {
    transform: scale(1.2);
    transition: all 1s;
  }
}
@media only screen and (max-width: 480px) {
  .cycle-title {
    font-family: "Bayon", sans-serif;
    color: #242612;
    font-size: 50px;
    position: relative;
    top: 60px;
    left: 20px;
    display: inline;
  }
  .cycle-fotos {
    margin-top: 100px;
    position: relative;
    left: 20px;
  }
  .accesorios {
    margin-bottom: 100px;
  }
}
.mi-estilo {
  color: #bf3e0f;
  text-decoration: none;
}

.footer-container a, .footer-container p {
  color: white;
  text-decoration: none;
}

.contact-title {
  color: #242612;
  text-decoration: underline dotted #bf3e0f;
}

.trending-items {
  color: #242612;
  text-decoration: none;
}

.contact-title {
  margin-top: 100px;
  text-align: center;
  font-size: 70px;
  font-family: "Bayon", sans-serif;
  margin-bottom: 50px;
}

form fieldset {
  border: 0;
}
form fieldset legend {
  text-align: center;
  display: inline;
  font-family: "Bayon", sans-serif;
  font-size: 30px;
  color: #bf3e0f;
}
form fieldset .formulario {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 100px;
  margin-top: 100px;
}
form fieldset .formulario label {
  text-align: center;
  display: inline;
  font-family: "Bayon", sans-serif;
  font-size: 30px;
  color: #bf3e0f;
  text-decoration: underline solid #242612;
}
form textarea {
  position: relative;
  left: 100px;
  width: 80%;
}
form .enviar {
  padding-top: 10px;
  background-color: green;
  color: #fff;
}
form input {
  width: 100%;
  border: 0;
  background-color: yellow;
}

.mi-estilo {
  color: #bf3e0f;
  text-decoration: none;
}

.footer-container a, .footer-container p {
  color: white;
  text-decoration: none;
}

.contact-title {
  color: #242612;
  text-decoration: underline dotted #bf3e0f;
}

.trending-items {
  color: #242612;
  text-decoration: none;
}

/* Para el .color-yo, color y decoracion*/
.color-yo {
  color: #bf3e0f;
  font-family: "Bayon", sans-serif;
  font-size: 30px;
}

.mi-estilo {
  margin-right: 100px;
}

.mi-navbar {
  background-color: #242612;
}

.mi-estilo {
  color: #bf3e0f;
  text-decoration: none;
}

.footer-container a, .footer-container p {
  color: white;
  text-decoration: none;
}

.contact-title {
  color: #242612;
  text-decoration: underline dotted #bf3e0f;
}

.trending-items {
  color: #242612;
  text-decoration: none;
}

/* Importo etiquetas a y p*/
.footer-container {
  margin-top: 20px;
  padding-top: 10px;
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

body {
  margin: 0;
  /* Overflow-x: hidden */
}

/*# sourceMappingURL=style.css.map */
