@import url('https://fonts.googleapis.com/css2?family=Bayon&display=swap');

:root {
    --color-principal: #242612;
    --color-secundario: #bf3e0f;
    --font-family: 'Bayon', sans-serif;
}
/* Index */
body {
    margin: 0;
    /* Overflow-x: hidden */
}
.menu-container {
    background-color: var(--color-principal);
    padding: 10px 0;
    width: 100%;
    /* Z index para que este elemento pase por encima de todo*/
    z-index: 10;
}

.menu {
    width: 70%;
    border: 0;

    /* Flexibilizo esta caja */
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*Colores, y fuentes*/
    font-family: var(--font-family);
    font-size: 30px;
}

nav div a {
    /*Colores y chau subrayado*/
    text-decoration: none;
    color: var(--color-secundario);
}

h2 {
    /*Personalizando etiqueta*/
    font-family: var(--font-family);
    color: var(--color-principal);
    font-size: 60px;
    position: relative;
    left: 130px;
    display: inline;

}

.index-container {
    display: flex;
    justify-content: space-around;
}
#newlaunchvideo {
    border: 9px solid var(--color-secundario);
    margin-bottom: 100px;
}
#newlaunchfoto {
    position: relative;
    top: 140px;
}

.vertical-line-1 {
	border: 1px solid black;
    position: relative;
    bottom: 30px;
}

.footer-container {
    margin-top: 20px;
    padding-top: 10px;
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center 
}


.footer-container a, .footer-container p {
    color: white;
    text-decoration: none;
}
/* Camping */
.title-container {
    background-image: url(multimedia/naturepanoramic.jpg);
    background-attachment: fixed;
    text-align: center;
    padding: 200px 0 120px 0;
    color: #fff;
    font-size: 62px;
    margin-bottom: 20px;
}
.camping-products {
    margin-right: 0;
}
#REDWHITETENT {
    padding-top: 18.2%;
}
#flashlight {
    margin: 10px;
    padding-bottom: 23px;
    padding-right: 30px;
    width: 200px;
}
#sleepingbag {
    margin: 10px;
    width: 190px;
}

/* FISHING */
.fishing-title, .cycle-title {
    font-family: var(--font-family);
    color: var(--color-principal);
    font-size: 60px;
    position: relative;
    left: 130px;
    display: inline;
}
#fishing-video {
    position: relative;
    border: 9px solid var(--color-secundario);
    left: 130px;
    margin-bottom: 100px;
}
.fishing-section {
    display: flex;
    align-items: center;
}
.fish-container {
    display: grid;
    position: relative;
    left: 300px;
    bottom: 50px;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; /* Espaciado entre los elementos */
}

.caña-1,
.caña-2,
.caña-3,
.caña-4 {
    border: 1px solid black;
    text-align: center;
}

#caña-1,
#caña-2,
#caña-3,
#caña-4 {
    width: 100%; /* Ajusta el ancho de las imágenes al 100% del contenedor */
}
#caña-1 {
    width: 100px;
    margin-bottom: 20px;
    margin-right: 50px;
}
#caña-2 {
    width: 100px;
    margin-bottom: 20px;
}
#caña-3 {
    width: 100px;
    margin-right: 50px;
}
#caña-4 {
    width: 100px;
}

/* CYCLING */

.cycle-fotos {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

/* CONTACT */
.contact-title {
    text-align: center;
    font-size: 70px;
    font-family: var(--font-family);
    color: var(--color-principal);
    text-decoration: underline dotted var(--color-secundario);
}

label, legend {
    text-align: center;
    display: inline;
    font-family: var(--font-family);
    font-size: 30px;
    color: var(--color-secundario);
   
}
fieldset {
    border: 0;
}
textarea {
    width: 100%;
}
/* .formulario {
    display: flex;
    justify-content: space-evenly;
} */

.enviar {
    padding-top: 10px;
    background-color: green;
    color: #fff;
}
form input{
    width: 100%;
    border: 0;
    background-color: yellow;
} 

label {
    text-decoration: underline solid var(--color-principal);
}