.title-container {
    background-image: url(../multimedia/naturepanoramic.jpg);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    padding: 200px 0 120px 0;
    color: #fff;
    font-size: 62px;
    margin-bottom: 20px;
}
.camping-products {
    margin-right: 0;
}
#REDWHITETENT {
    padding-top: 18.2%;
}
#flashlight {
    margin: 10px;
    padding-bottom: 23px;
    padding-right: 30px;
    width: 200px;
}
#sleepingbag {
    margin: 10px;
    width: 190px;
}