@import '../base/mixin';
.contact-title {
    margin-top: 100px;
    text-align: center;
    font-size: 70px;
    font-family: $font-family;
    margin-bottom: 50px;
}
form  {
    fieldset {
        border: 0;
        legend {
            text-align: center;
            display: inline;
            font-family: $font-family;
            font-size: 30px;
            color: $color-secundario;
        }
        .formulario {
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 100px;
            margin-top: 100px;
            label {
                text-align: center;
                display: inline;
                font-family: $font-family;
                font-size: 30px;
                color: $color-secundario;
                text-decoration: underline solid $color-principal
            }
        }
    }
    textarea {
        position: relative;
        left: 100px;
        width: 80%;
    }
    
    .enviar {
        padding-top: 10px;
        background-color: green;
        color: #fff;
    }
    input{
        width: 100%;
        border: 0;
        background-color: yellow;
    } 
    
}
