.cycle-title {
    font-family: var(--font-family);
    color: var(--color-principal);
    font-size: 60px;
    position: relative;
    left: 130px;
    display: inline;
}
.cycle-fotos {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}
.accesorios {
    transform: scale(1);
}
.accesorios:hover {
    transform: scale(1.2);
    transition: all 1s;
}