@import '../base/variables';
@import '../base/maps';
@import '../base/extends';

@media only screen and (min-width: 980px) {
    .fishing-title {
        margin-bottom: 100px;
        font-family: $font-family;
        color: $color-principal;
        font-size: 50px;
        text-align: center;
    }
    .fishing-section {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .fish-container {
            display: grid;
            column-gap: 200px;
            grid-template-areas: 
            'caña-1 caña-2 caña-3 caña-4';
            margin-bottom: 40px;
            .caña-1 {
                grid-area: caña-1;
                padding: 10px;
            }
            .caña-2 {
                grid-area: caña-2;
                padding: 10px
            }
            .caña-3 {
                grid-area: caña-3;
                padding: 10px
            }
            .caña-4 {
                grid-area: caña-4;
                padding: 10px
            }
            #caña-1 {
                width: 200px;
            }
            #caña-2  {
                width: 200px;
            }
            #caña-3 {
                width: 200px;
            }
            #caña-4 {
                width: 200px;
                height: 200px;
            }
            h3 {
                color: var(--color-principal);
                font-family: var(--font-family);
                font-size: 20px;
            }
        }
    }
    .canoas-container {
        margin-top: 40px;
        justify-content: space-around;
        margin-bottom: 100px;
        column-gap: 60px;
        display: grid;
        justify-content: center;
        grid-template-areas:
        'oars kayak motors'
        'etiqueta-o etiqueta-k etiqueta-m';
        .hover-fish:hover {
            background-color: #EEEEEE;
        }
        .motors {
            grid-area: motors;
            width: 200px;
            height: 200px;
        }
        #motors {
            grid-area: etiqueta-m;
        }
        .kayak {
            grid-area: kayak;
            width: 200px;
            height: 200px;
        }
        #kayak {
            grid-area: etiqueta-k;
        }
        .oars {
            grid-area: oars;
            width: 200px;
            height: 200px;
        }
        #oars {
            grid-area: etiqueta-o;
        }

    }
}
@media only screen and (max-width: 480px) {
    .fishing-title {
        margin-bottom: 0px;
        font-family: $font-family;
        color: $color-principal;
        font-size: 40px;
        position: relative;
        left: 35px;
        display: inline;
    }
    .fish-container {
        margin-top: 40px;
        display: grid;
        row-gap: 30px;
        justify-content: center;
        grid-template-areas: 
        'caña-1' 
        'caña-2'
        'caña-3' 
        'caña-4';
        position: relative;
        left: 10px;
        margin-bottom: 30px;
        #caña-1 {
            grid-area: caña-1;
            width: 200px;
        }
        #caña-2 {
            grid-area: caña-2;
            width: 200px;
        }
        #caña-3 {
            grid-area: caña-3;
            width: 200px;
        }
        #caña-4 {
            grid-area: caña-4;
            width: 200px;
        }
        h3 {
            font-family: $font-family;
        }
        .price {
            display: none;
        }
    }
    .canoas-container {
        margin-top: 40px;
        justify-content: space-around;
        margin-bottom: 100px;
        row-gap: 60px;
        display: grid;
        justify-content: center;
        grid-template-areas:
        'oars' 
        'kayak' 
        'motors';
        .motors {
            grid-area: motors;
            width: 200px;
            background-color: #EEEEEE;
            height: 200px;
        }
        .kayak {
            grid-area: kayak;
            width: 200px;
            height: 200px;
            background-color: #EEEEEE;

        }
        .oars {
            grid-area: oars;
            width: 200px;
            background-color: #EEEEEE;
            height: 200px;
        }
    
    }
}