@import '../base/variables';
@import '../base/maps';
.fishing-title {
    margin-bottom: 100px;
    font-family: $font-family;
    color: $color-principal;
    font-size: 60px;
    position: relative;
    left: 130px;
    top: 30px;
    display: inline;
}
.fishing-section {
    display: flex;
    justify-content: space-around;
    #fishing-video {
        margin-top: 50px;
    }
    .vertical-line-2 {
        position: relative;
        right: 100px;
    }
    .fish-container {
        display: grid;
        grid-template-columns: repeat(2, 1r);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 70px;
        row-gap: 70px;
        grid-template-areas: 
        'caña-1 caña-2'
        'caña-3 caña-4';
        position: relative;
        right: 100px;
        .caña-1 {
            grid-area: caña-1;
            transform: scale(1);
            transition: transform 1s;
        }
        .caña-2 {
            grid-area: caña-2;
            transform: scale(1);
            transition: transform 1s;
        }
        .caña-3 {
            grid-area: caña-3;
            transform: scale(1);
            transition: transform 1s;
        }
        .caña-4 {
            grid-area: caña-4;
            transform: scale(1);
            transition: transform 1s;
        }
        .caña-1:hover, .caña-2:hover, .caña-3:hover, .caña-4:hover{
            transform: scale(1.2);
            transition: transform 1s;
        }
        #caña-1 {
            width: 200px;
        }
        #caña-2  {
            width: 200px;
        }
        #caña-3 {
            width: 200px;
        }
        #caña-4 {
            width: 200px;
            height: 200px;
        }
        h3 {
            color: var(--color-principal);
            font-family: var(--font-family);
            font-size: 20px;
        }
    }

}

@media only screen and (max-width: 480px) {
    .fishing-title {
        margin-bottom: 0px;
        font-family: var(--font-family);
        color: var(--color-principal);
        font-size: 50px;
        position: relative;
        top: 50px;
        left: 30px;
        display: inline;
    }
    #fishing-video {
        width: 390px;
        height: 350px;
        margin-top: 10px;
    }
    .fishing-section {
        margin-top: 100px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .fish-container {
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: repeat(4, 1fr);
        column-gap: 30px;
        grid-template-areas: 
        'caña-1' 
        'caña-2'
        'caña-3' 
        'caña-4';
        position: relative;
        right: 100px;
    }
    .vertical-line-2 {
        position: relative;
        bottom: 30px;
        padding-right: 20px;
        padding-left: 600px;
    }
    .caña-1 {
        grid-area: caña-1;
        margin-left: 100px;
    }
    .caña-2 {
        grid-area: caña-2;
        margin-left: 100px;
    }
    .caña-3 {
        grid-area: caña-3;
        margin-left: 100px;
    }
    .caña-4 {
        grid-area: caña-4;
        margin-left: 100px;
    }
    h3 {
        color: var(--color-principal);
        font-family: var(--font-family);
        font-size: 10px;
        margin-left: 100px;
    }
    

}