.fishing-title {
    margin-bottom: 100px;
    font-family: $font-family;
    color: $color-principal;
    font-size: 60px;
    position: relative;
    left: 130px;
    top: 30px;
    display: inline;
}
.fishing-section {
    display: flex;
    justify-content: space-around;
    #fishing-video {
        border: 9px solid $color-secundario;
        margin-bottom: 100px;
        margin-top: 50px;
    }
    .vertical-line-2 {
        border: 1px solid black;
        position: relative;
        right: 100px;
    }
    .fish-container {
        display: grid;
        grid-template-columns: repeat(2, 1r);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 70px;
        row-gap: 70px;
        grid-template-areas: 
        'caña-1 caña-2'
        'caña-3 caña-4';
        position: relative;
        right: 100px;
        .caña-1 {
            grid-area: caña-1;
            transform: scale(1);
            transition: transform 1s;
        }
        .caña-2 {
            grid-area: caña-2;
            transform: scale(1);
            transition: transform 1s;
        }
        .caña-3 {
            grid-area: caña-3;
            transform: scale(1);
            transition: transform 1s;
        }
        .caña-4 {
            grid-area: caña-4;
            transform: scale(1);
            transition: transform 1s;
        }
        .caña-1:hover, .caña-2:hover, .caña-3:hover, .caña-4:hover{
            transform: scale(1.2);
            transition: transform 1s;
        }
        #caña-1 {
            width: 200px;
        }
        #caña-2  {
            width: 200px;
        }
        #caña-3 {
            width: 200px;
        }
        #caña-4 {
            width: 200px;
            height: 200px;
        }
        h3 {
            color: var(--color-principal);
            font-family: var(--font-family);
            font-size: 20px;
        }
    }

}