@import '../base/variables';
.color-yo {
    color:$color-secundario;
    font-family: $font-family;
    font-size: 30px;
}
.mi-estilo {
    color: $color-secundario;
    text-decoration: none;
    margin-right: 100px;
}
.mi-navbar {
    background-color: $color-principal;
}