@import '../base/variables';
@import '../base/extends';
@import '../base/maps';
@media only screen and (min-width: 980px) {
    main {
        .main-title {
            /*Personalizando etiqueta*/
            position: relative;
            left: 100px;
            top: 30px;
            font-size: 60px;
            display: inline;
        }
        .index-container {
            position: relative;
            right: 40px;
            top: 50px;
            margin-bottom: 100px;
            display: flex;
            justify-content: space-around;
            #new-launch-video {
                border: 9px solid $color-secundario;
                margin-bottom: 100px;
            }
            .vertical-line-1 {
                position: relative;
                bottom: 30px;
            }
            #new-launch-foto {
                position: relative;
                top: 140px;
                transform: scale(1);
                transition: transform 1s;
                &:hover {
                    transform: scale(1.2);
                    transition: all 1s;
                }
            }
        }
    }
    .promo {
        margin-bottom: 30px;
        #promo-banner {
            width: 100%;
        }
    }
    .trending-container {
        background-color: #EEEEEE;
        .trending {
            font-size: 50px;
            text-align: center;
            .trending-span {
                text-decoration: underline red;
                text-underline-offset: 0.2em;
            }
        }
        div {
            position: relative;
            right: 12px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            margin-top: 20px;
            a {
                padding: 5px 30px;
                border: 2px solid black;
                margin: 5px 5px;
                white-space: nowrap;
                font-weight: 500;
                &:hover {
                    text-decoration: underline black;
                }
            }
        }
    }
    .boy-girl {
        margin-top: 40px;
        margin-bottom: 100px;
        display: grid;
        justify-content: center;
        grid-template-areas:
        'mujer hombre nena'
        'etiqueta-m etiqueta-h etiqueta-n';
        .nena {
            grid-area: nena;
            height: 300px;
        }
        #nena {
            grid-area: etiqueta-n;
        }
        .hombre {
            grid-area: nena;
        }
        #hombre {
            grid-area: etiqueta-h;
        }
        .mujer {
            grid-area: nena;
        }
        #mujer {
            grid-area: etiqueta-m;
        }
    }
    .mid-title {
        background-attachment: fixed;
        display: flex;
        justify-content: center;
        padding: 200px 200px 120px 200px;
        color: $color-secundario;
        font-size: 62px;
        margin-bottom: 20px;
    }
    .relojes-container {
        margin-top: 200px;
        margin-bottom: 100px;
        display: flex;
        justify-content: center;
        .relojes {
            margin-right: 50px;
            position: relative;
            width: 11.875em;
            height: 16.5em;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #fff;
            padding: 0.5em;
            padding-bottom: 3.4em;
            &:hover {
                border: 1px solid black
              }
            .title-relojes {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 18px;
                position: absolute;
                bottom: 1.875em;
                font-weight: 400;
                color: #000;
            }
            .price {
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                font-size: 15px;
                position: absolute;
                bottom: 1px;
                color: #000;
            }
        }
                
        .image {
            width: 100%;
            height: 100%;
            display: grid;
            place-items: center;
            margin-bottom: 70px;
          }
    }
}

@media only screen and (max-width: 480px) {
    .promo {
        margin-bottom: 30px;
        #promo-banner {
            width: 100%;
            height: 200px;
        }
    }
    main {
        .main-title {
            position: relative;
            top: 80px;
            font-size: 50px;
            left: 10px;
            margin-bottom: 10px;
            display: inline;
        }
        .index-container {
            margin-top: 60px;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            align-items: center;
            #new-launch-video {
                border: 9px solid $color-secundario;
                margin-bottom: 100px;
                width: 390px;
                height: 350px;
                margin-top: 100px;
            }
            .vertical-line-1 {
                position: relative;
                bottom: 30px;
                padding-right: 400px;
            }
            #new-launch-foto {
                width: 415;
                height: 230px;
            }
        }
    }
    .trending-container {
        margin-top: 50px;
        background-color: #EEEEEE;
        padding-bottom: 10px;
        .trending {
            font-size: 50px;
            text-align: center;
            .trending-span {
                text-decoration: underline red;
                text-underline-offset: 0.2em;
            }
        }
        div {
            position: relative;
            right: 12px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            margin-top: 20px;
            a {
                padding: 5px 30px;
                border: 2px solid black;
                margin: 5px 5px;
                white-space: nowrap;
                font-weight: 500;
                &:hover {
                    text-decoration: underline black;
                }
            }
        }
    }
    .boy-girl {
        margin-top: 40px;
        display: grid;
        row-gap: 30px;
        justify-content: center;
        grid-template-areas:
        'mujer' 
        'hombre' 
        'nena';
        .nena {
            grid-area: nena;
            height: 200px;
            width: 300px;
            padding-left: 50px;
        }
        .hombre {
            grid-area: nena;
            width: 300px;
            padding-left: 50px;
        }
        .mujer {
            grid-area: nena;
            width: 300px;
            padding-left: 50px;
        }
        #nena, #hombre, #mujer {
            display: none
        }
    }
    .mid-title {
        display: flex;
        justify-content: center;
        padding: 200px 0 200px 0;
        color: $color-secundario;
        font-size: 62px;
        margin-bottom: 10px;
    }
    .relojes-container {
        margin-top: 100px;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        .relojes {
            display: flex;
            flex-direction: column;
            margin-left: 70px;
            margin-top: 20px;
            margin-bottom: 18px;
            position: relative;
            left: 50px;
            width: 11.875em;
            height: 16.5em;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #fff;
            padding: 0.5em;
            padding-bottom: 3.4em;
            &:hover {
                border: 1px solid black
              }
            .title-relojes {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 18px;
                position: absolute;
                bottom: 1.875em;
                font-weight: 400;
                color: #000;
            }
            .price {
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                font-size: 15px;
                position: absolute;
                bottom: 1px;
                color: #000;
            }
        }
                
        .image {
            width: 100%;
            height: 100%;
            display: grid;
            place-items: center;
            margin-bottom: 70px;
          }
    }   
}