@import '../base/variables';
$videos: (
    border: 9px solid $color-secundario,
    margin-bottom: 100px
);
#new-launch-video{
    border: map-get($videos, border );
    margin-bottom: map-get($videos, margin-bottom );
}