$videos: (
    border: 9px solid var(--color-secundario),
    margin-bottom: 100px
);
#new-launch-video, #fishing-video {
    border: map-get($videos, border );
    margin-bottom: map-get($videos, margin-bottom );
}